body{
    /* background-color: #F6F6F7; */
    background-color: #eeeeee;    
}
.my-cursor{
    cursor: pointer;
}
.navbar-brand-color{
    color: #5D5FEF;
    font-weight: bold;
}
#btn-news:hover, #btn-blog:hover{            
    color: #5D5FEF;
    font-weight: bold;
    text-decoration: underline;
}


.thumbnail_img{
    width: 22%;
    margin: 2%;
}
.author-img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.arrow-color{
    color: #5D5FEF;    
}
.single-news-block{
    background-color: white;    
    height: 315px;
    border-radius: 15px;
    margin-bottom: 30px;
}
